include src/* src/crazy_cpm/* requirements.txt requirements-dev.txt
include LICENSE
include README.md
include requirements.txt
include requirements-dev.txt
include pyproject.toml
include doc/*.pdf doc/*.md
